@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!-- MAIN (Center website) -->
<div class="main">
<h1>Link Up</h1>
<P>This is a simple .NET web project.</P>
<hr>
<div id="myBtnContainer">
  <button class="btn active" onclick="filterSelection('all')"> All</button>
  <button class="btn" onclick="filterSelection('explore')"> Explore</button>
  <button class="btn" onclick="filterSelection('myaccount')"> My Account</button>

</div>

<!-- Portfolio Gallery Grid -->
<div class="row">
  <div class="All">
    <div class="content">
    <img src="https://linkupstor.blob.core.windows.net/images/Capture d'écran 2024-09-18 132758.png" alt="Image depuis Azure Blob Storage" style="width:50%">
      <h5>Setup GLPI Agent 1.9</h5>
    </div>
  </div>
  <div class="All">
    <div class="content">
    <img src="https://linkupstor.blob.core.windows.net/images/Capture d'écran 2024-12-03 133828.png" alt="Image depuis Azure Blob Storage 2" style="width:50%">
      <h5>API Connections Azure</h5>
    </div>
  </div>
  <div class="My Account">
    <div class="content">
    <img src="https://linkupstor.blob.core.windows.net/images/viria_service_energie_environnement_logo.jpg" alt="Image depuis Azure Blob Storage 3" style="width:50%">
      <h5>Joli logo</h5>
    </div>
  </div>
  







<!-- END GRID -->
</div>

<!-- END MAIN -->
</div>




