o﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!-- MAIN (Center website) -->
<div class="main">
<h1>Link Up</h1>
<hr>
<div id="myBtnContainer">
  <button class="btn active" onclick="filterSelection('all')"> All</button>
  <button class="btn" onclick="filterSelection('art')"> Explore</button>
  <button class="btn" onclick="filterSelection('nature')"> My Account</button>

</div>

<!-- Portfolio Gallery Grid -->
<div class="row">
  <div class="column art">
    <div class="content">
    <img src="https://linkupstor.blob.core.windows.net/images/Capture d'écran 2024-09-18 132758.png" alt="Image depuis Azure Blob Storage" style="width:100%">
      <h5>Setup GLPI Agent 1.9</h5>
    </div>
  </div>

  


<!-- END GRID -->
</div>

<!-- END MAIN -->
</div>

